/src/lambdser.egg-info/requires.txt
/src/lambdser.egg-info/top_level.txt
/src/lambdser.egg-info/SOURCES.txt
/.idea
/src/lambdser.egg-info/dependency_links.txt
/src/lambdser.egg-info/PKG-INFO
/src/lambdser.egg-info/not-zip-safe
